:root {
  --foreground: #333333;
  --background: rgb(157, 175, 141);
  --green: #235037;
  --green2: #347251;
  --offWhite: #f2f2f2;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 80px;
  border: none;
  border-radius: 4px;
  background-color: var(--green2);
  color: var(--offWhite);
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  transition: ease-in-out color 0.3s;
}

.btn:hover {
  background-color: var(--green);
  text-decoration: none;
}


footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

