:root {
  --foreground: #333333;
  --background: rgb(157, 175, 141);
  --green: #235037;
  --green2: #347251;
  --offWhite: #f2f2f2;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  min-width: 80px;
  border: none;
  border-radius: 4px;
  background-color: var(--green2);
  color: var(--offWhite);
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  transition: ease-in-out color 0.3s;
}

.btn:hover {
  background-color: var(--green);
  text-decoration: none;
}


footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* --------------------------------- */


#background {
  display: flex;
  flex-flow: row nowrap;
  padding-top: 64px;
  width: 100%;
  justify-content: center;
}

#playArea {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  /* min-width: 800px; */
  height: 100%;
  padding-top: 20px;
}
.plusTable {
  height: 700px;
}
#board {
  border: 10px rgb(144, 108, 42) solid;
  border-radius: 2%;
  height: 700px;
  width: 700px;
  display: flex;
  flex-wrap: wrap-reverse;
}

#gameInfo {
  padding-top: 30px;
}

@media screen and (max-width: 1400px) {
  .plusTable {
    flex-flow: row wrap;
  }
}
@media screen and (max-width: 1100px) {
  #board {
    height: 600px;
    width: 600px;
  }
  .plusTable {
    height: 600px;
  }
}
@media screen and (max-width: 900px) {
  #board {
    height: 550px;
    width: 550px;
  }
  .plusTable {
    height: 550px;
  }
}
@media screen and (max-width: 800px) {
  #background {
    flex-flow: row wrap;
  }
  .plusTable {
    height: 600px;
  }
}

@media screen and (max-width: 660px) {
  #board {
    height: 550px;
    width: 550px;
  }
}

@media screen and (max-width: 600px) {
  #board {
    height: 450px;
    width: 450px;
  }
  .plusTable {
    max-height: 500px;
  }
}

@media screen and (max-width: 450px) {
  #board {
    max-height: 400px;
    max-width: 400px;
  }
  #playArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .plusTable {
    height: 460px;
  }
}

@media screen and (max-width: 375px) {
  #board {
    max-height: 300px;
    max-width: 300px;
  }
  #playArea {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .plusTable {
    max-height: 370px;
  }
}

@media screen and (max-width: 280px) {
  #board {
    max-height: 270px;
    max-width: 270px;
  }
  #playArea {
    max-height: 270px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  .plusTable {
    max-height: 355px;
  }
}
