.square {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
  width: 12.5%;
  font-size: 10px;
  text-align: left;
}


.square .coordinate {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 4px;
  text-transform: uppercase;
}

.coordinate::selection,
.coordinate::-moz-selection,
.coordinate {
  user-select: none;
  pointer-events: none;
}
